/* 
Securitas Color Pallette

RED:
SEC Red #fc273f
SEC Light Red (information) #ff8da3
SEC Mid Red #aa1834
SEC Dark red #641432

BLUE:
SEC Navy Blue #031f30
SEC Light Blue #acc2dd
SEC Mid Blue #42638c

PURPLE (ACCENT ONLY):
SEC Purple #8d5fff
SEC Light Purple #c2b4fc
SEC Mid Purple #55419e
SEC Dark Purple #26224c

SECONDARY (WHITE/GREY):
SEC White #ffffff
SEC Light Grey #d7d8d6
SEC Mid Grey #9c9ea0
SEC Dark Grey #53565a
*/
@font-face {
  font-family: 'Securitas';
  src: url('../resources/SecuritasProOffice-Regular.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Securitas', Arial, sans-serif;
}
body {
  background-color: #031f30;
}
#nav {
  border-bottom: 1px solid rgba(255,255,255,.2);
}
.navLogo img {
  width: 250px;
}
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.NavItems{
  display: flex;
  margin-right: 3rem;
  list-style: none;
}
.NavItems li {
  padding-right: 1rem;
}
.NavItems a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.25rem;
}
#main {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcomeLogo {
  max-width: 500px;
  height: auto;
  display: flex;
}
.welcome p {
  display: flex;
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
}
li a:hover {
  border-bottom: 2px solid #fc273f;
}
.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
h1 {
  font-family: Securitas;
  color: #ffffff;
}